grant codeBase "file:/home/stu2/s9/rxv6510/Desktop/java_assignments/day13/finalUncommented/homework13RMI/" {
    permission java.security.AllPermission;
};

